#!/usr/bin/env bash
exec sudo -u {{ rocketpool_user }} \
    /usr/local/bin/rocketpool-cli \
        --config-path={{ rocketpool_service_path }} \
        --daemon-path=/usr/local/bin/rocketpool-daemon \
        "$@"
