#!/usr/bin/env bash
sudo systemctl restart {{ rocketpool_node_service_name }}
sudo systemctl restart {{ rocketpool_eth2_service_name }}
sudo systemctl restart {{ rocketpool_watchtower_service_name }}
