[Unit]
Description=RocketPool watchtower activity daemon
After=network.target

[Service]
Type=simple
User={{ rocketpool_user }}
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rocketpool-daemon \
  --settings={{ rocketpool_service_path }}/user-settings.yml \
  --password={{ rocketpool_password_file | mandatory }} \
  --wallet={{ rocketpool_wallet_file | mandatory }} \
  watchtower

[Install]
WantedBy=multi-user.target
