[Unit]
Description=RocketPool smart node daemon
After=network.target

[Service]
Type=simple
User={{ rocketpool_user }}
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rocketpoold \
  --config {{ rocketpool_service_path }}/config.yml \
  --settings {{ rocketpool_service_path }}/settings.yml \
  --metricsAddress {{ rocketpool_metrics_addr }} \
  --metricsPort {{ rocketpool_metrics_port }} \
  node

[Install]
WantedBy=multi-user.target
