[Unit]
Description=RocketPool smart node daemon
After=network.target

[Service]
Type=simple
User={{ rocketpool_user }}
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rocketpool-daemon \
  --settings={{ rocketpool_service_path }}/user-settings.yml \
  node

[Install]
WantedBy=multi-user.target
