chains:
  eth1:
    client:
      selected: "{{ "geth" if rocketpool_eth2_web3_http_url == '' else "custom" }}"
      params:
      - env: INFURA_PROJECT_ID
        value: ""
      - env: ETHSTATS_LABEL
        value: ""
      - env: ETHSTATS_LOGIN
        value: ""
      - env: PROVIDER_URL
        value: "{{ rocketpool_eth2_web3_http_url }}"
  eth2:
    client:
      selected: nimbus
      params:
      - env: CUSTOM_GRAFFITI
        value: "{{ rocketpool_graffiti }}"

