# WARNING: File initally generated with `rocketpool-cli service config`.
# See the `tasks/config.yml` for commented call that was used.
addons-gww:
  additionalFlags: ""
  containerTag: rocketpool/graffiti-wall-addon:v1.0.1
  enabled: "false"
  inputUrl: https://cdn-rocketpool.s3.us-west-2.amazonaws.com/graffiti.json
  updateInputTime: "600"
  updatePixelTime: "60"
  updateWallTime: "600"
besu:
  additionalFlags: ""
  containerTag: hyperledger/besu:23.4.4
  jvmHeapSize: "0"
  maxBackLayers: "512"
  maxPeers: "25"
bitflyNodeMetrics:
  bitflyEndpoint: https://beaconcha.in/api/v1/client/metrics
  bitflyMachineName: Smartnode
  bitflySecret: ""
consensusCommon:
  apiPort: "{{ rocketpool_eth2_rest_port }}"
  checkpointSyncUrl: ""
  doppelgangerDetection: "true"
  graffiti: {{ rocketpool_graffiti }}
  openApiPort: closed
  p2pPort: "{{ rocketpool_eth2_libp2p_port }}"
executionCommon:
  enginePort: "58551"
  ethstatsLabel: ""
  ethstatsLogin: ""
  httpPort: "8545"
  openRpcPorts: closed
  p2pPort: "30303"
  wsPort: "8546"
exporter:
  additionalFlags: ""
  containerTag: prom/node-exporter:v1.6.0
  enableRootFs: "false"
externalExecution:
  httpUrl: {{ rocketpool_eth1_exec_layer_rpc_url | mandatory }}
  wsUrl: {{ rocketpool_eth1_exec_layer_ws_url | mandatory }}
externalLighthouse:
  additionalVcFlags: ""
  containerTag: sigp/lighthouse:v4.2.0-modern
  doppelgangerDetection: "true"
  graffiti: ""
  httpUrl: ""
externalLodestar:
  additionalVcFlags: ""
  containerTag: chainsafe/lodestar:v1.9.2
  doppelgangerDetection: "true"
  graffiti: ""
  httpUrl: ""
externalNimbus:
  additionalVcFlags: ""
  containerTag: statusim/nimbus-validator-client:multiarch-v23.7.0
  doppelgangerDetection: "true"
  graffiti: ""
  httpUrl: ""
externalPrysm:
  additionalVcFlags: ""
  containerTag: prysmaticlabs/prysm-validator:HEAD-58df1f1-debug
  doppelgangerDetection: "true"
  graffiti: ""
  httpUrl: ""
  jsonRpcUrl: ""
externalTeku:
  additionalVcFlags: ""
  containerTag: consensys/teku:23.6.2
  graffiti: ""
  httpUrl: ""
fallbackNormal:
  ccHttpUrl: ""
  ecHttpUrl: ""
fallbackPrysm:
  ccHttpUrl: ""
  ecHttpUrl: ""
  jsonRpcUrl: ""
geth:
  additionalFlags: ""
  cache: "256"
  containerTag: ethereum/client-go:v1.12.0
  maxPeers: "50"
grafana:
  containerTag: grafana/grafana:9.4.13
  port: "3100"
lighthouse:
  additionalBnFlags: ""
  additionalVcFlags: ""
  containerTag: sigp/lighthouse:v2.4.0-modern
  maxPeers: "80"
lodestar:
  additionalBnFlags: ""
  additionalVcFlags: ""
  containerTag: chainsafe/lodestar:v1.9.2
  maxPeers: "50"
mevBoost:
  additionalFlags: ""
  aestusEnabled: "false"
  blocknativeEnabled: "false"
  bloxRouteMaxProfitEnabled: "false"
  bloxRouteRegulatedEnabled: "false"
  containerTag: flashbots/mev-boost:1.6
  edenEnabled: "false"
  enableRegulatedAllMev: "false"
  enableUnregulatedAllMev: "false"
  externalUrl: ""
  flashbotsEnabled: "false"
  mode: local
  openRpcPort: closed
  port: "18550"
  selectionMode: profile
  ultrasoundEnabled: "false"
native:
  ccHttpUrl: http://localhost:{{ rocketpool_eth2_rest_port }}
  consensusClient: nimbus
  ecHttpUrl: {{ rocketpool_eth1_exec_layer_rpc_url | mandatory }}
  validatorRestartCommand: {{ rocketpool_service_path }}/eth2-restart.sh
  validatorStopCommand: {{ rocketpool_service_path }}/eth2-stop.sh
nethermind:
  additionalFlags: ""
  additionalModules: ""
  additionalUrls: ""
  cache: "1024"
  containerTag: nethermind/nethermind:1.20.1
  downloadCompleteHistory: "false"
  maxPeers: "50"
  pruneMemSize: "1024"
nimbus:
  additionalBnFlags: ""
  additionalVcFlags: ""
  bnContainerTag: statusim/nimbus-eth2:multiarch-v23.7.0
  containerTag: statusim/nimbus-validator-client:multiarch-v23.7.0
  maxPeers: "160"
  pruningMode: archive
prometheus:
  additionalFlags: ""
  containerTag: prom/prometheus:v2.45.0
  openPort: closed
  port: "9091"
prysm:
  additionalBnFlags: ""
  additionalVcFlags: ""
  bnContainerTag: prysmaticlabs/prysm-beacon-chain:HEAD-58df1f1-debug
  maxPeers: "45"
  openRpcPort: closed
  rpcPort: "5053"
  vcContainerTag: prysmaticlabs/prysm-validator:HEAD-58df1f1-debug
root:
  bnMetricsPort: "{{ rocketpool_eth2_metrics_port }}"
  consensusClient: nimbus
  consensusClientMode: external
  ecMetricsPort: "9105"
  enableBitflyNodeMetrics: "false"
  enableMetrics: "true"
  enableMevBoost: "false"
  enableODaoMetrics: "false"
  executionClient: geth
  executionClientMode: external
  exporterMetricsPort: "9103"
  externalConsensusClient: lighthouse
  isNative: "{{ rocketpool_is_native | lower }}"
  nodeMetricsPort: "{{ rocketpool_metrics_port }}"
  reconnectDelay: 60s
  rpDir: {{ rocketpool_service_path }}
  useFallbackClients: "false"
  vcMetricsPort: "9101"
  version: {{ rocketpool_version }}
  watchtowerMetricsPort: "{{ rocketpool_watchtower_metrics_port }}"
smartnode:
  archiveECUrl: {{ rocketpool_eth1_archive_url | mandatory }}
  checkpointRetentionLimit: "200"
  dataPath: {{ rocketpool_data_path }}
  distributeThreshold: "1"
  manualMaxFee: "0"
  minipoolStakeGasThreshold: "150"
  network: mainnet
  priorityFee: "2"
  projectName: rocketpool
  recordCheckpointInterval: "45"
  recordsPath: {{ rocketpool_records_path }}
  rewardsTreeMode: download
  useRollingRecords: "false"
  watchtowerMaxFeeOverride: "200"
  watchtowerPrioFeeOverride: "3"
  web3StorageApiToken: {{ rocketpool_web3_storage_token | mandatory }}
teku:
  additionalBnFlags: ""
  additionalVcFlags: ""
  archiveMode: "false"
  containerTag: consensys/teku:23.6.2
  jvmHeapSize: "0"
  maxPeers: "100"
